name: trigger gitlab job
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: trigger pipeline
        uses: ./
        with:
          token: ${{ secrets.PROJECT_TOKEN }}
          project_id: ${{ secrets.PROJECT_ID }}

      - name: pass variables
        uses: ./
        with:
          token: ${{ secrets.PROJECT_TOKEN }}
          project_id: ${{ secrets.PROJECT_ID }}
          variables: TEST=2000

      - name: wait for pipeline
        uses: ./
        with:
          token: ${{ secrets.PROJECT_TOKEN }}
          project_id: ${{ secrets.PROJECT_ID }}
          wait: true

      - name: change wait interval
        uses: ./
        with:
          token: ${{ secrets.PROJECT_TOKEN }}
          project_id: ${{ secrets.PROJECT_ID }}
          wait: true
          interval: 1s

      - name: change wait timeout
        uses: ./
        with:
          token: ${{ secrets.PROJECT_TOKEN }}
          project_id: ${{ secrets.PROJECT_ID }}
          wait: true
          timeout: 5s
