name: trigger gitlab job
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: trigger Job
        uses: ./
        with:
          token: ${{ secrets.PROJECT_TOKEN }}
          project_id: ${{ secrets.PROJECT_ID }}
