name: trigger gitlab job
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: trigger pipeline
        uses: ./
        with:
          token: ${{ secrets.PROJECT_TOKEN }}
          project_id: ${{ secrets.PROJECT_ID }}

      - name: pass variables
        uses: ./
        with:
          token: ${{ secrets.PROJECT_TOKEN }}
          project_id: ${{ secrets.PROJECT_ID }}
          variables: TEST=2000

      - name: wait for pipeline
        uses: ./
        with:
          token: ${{ secrets.PROJECT_TOKEN }}
          project_id: ${{ secrets.PROJECT_ID }}
          wait: true

      - name: change wait interval
        uses: ./
        id: wait
        with:
          token: ${{ secrets.PROJECT_TOKEN }}
          project_id: ${{ secrets.PROJECT_ID }}
          wait: true
          interval: 1s

      - name: change wait timeout
        run: |
          echo "web_url: ${{ steps.wait.outputs.web_url }}"
          echo "status: ${{ steps.wait.outputs.status }}"

      - name: change wait timeout
        continue-on-error: true
        uses: ./
        with:
          token: ${{ secrets.PROJECT_TOKEN }}
          project_id: ${{ secrets.PROJECT_ID }}
          wait: true
          timeout: 5s

  output:
    name: output
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: trigger pipeline
        uses: ./
        id: trigger
        with:
          token: ${{ secrets.PROJECT_TOKEN }}
          project_id: ${{ secrets.PROJECT_ID }}

      - name: output pipeline
        run: |
          echo "id: ${{ steps.trigger.outputs.id }}"
          echo "sha: ${{ steps.trigger.outputs.sha }}"
          echo "web_url: ${{ steps.trigger.outputs.web_url }}"
